[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ramonfontes
[access "refs/for/refs/*"]
	read = group user/ramonfontes
	push = group user/ramonfontes
	label-Code-Review = -2..+2 group user/ramonfontes
	label-Verified = -1..+1 group user/ramonfontes
	rebase = group user/ramonfontes
	removeReviewer = group user/ramonfontes
	submit = group user/ramonfontes
[access "refs/heads/*"]
	read = group user/ramonfontes
	create = group user/ramonfontes
	push = +force group user/ramonfontes
	pushMerge = group user/ramonfontes
[access "refs/tags/*"]
	push = +force group user/ramonfontes
	pushTag = group user/ramonfontes
	pushSignedTag = group user/ramonfontes
